.u-section-1 .u-sheet-1 {
  min-height: 480px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px 114px 0 417px;
}

.u-section-1 .u-shape-1 {
  width: 283px;
  height: 300px;
  margin: -93px auto 0 67px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -195px 67px 0 417px;
}

.u-section-1 .u-group-1 {
  width: 138px;
  --radius: 10px;
  height: auto;
  background-image: none;
  min-height: 44px;
  margin: 36px auto 60px 417px;
}

.u-section-1 .u-container-layout-1 {
  padding: 8px 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 2px -22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 69px;
    margin-right: 65px;
    margin-left: 335px;
  }

  .u-section-1 .u-shape-1 {
    width: 214px;
    height: 227px;
    margin-top: -55px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: -156px;
    margin-right: 58px;
    margin-left: 335px;
  }

  .u-section-1 .u-group-1 {
    width: 117px;
    min-height: 43px;
    margin-top: 11px;
    margin-left: 335px;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    width: 74px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 43px;
    margin-right: 77px;
    margin-left: 235px;
  }

  .u-section-1 .u-shape-1 {
    width: 192px;
    height: 224px;
    margin-top: -66px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -144px;
    margin-right: 37px;
    margin-left: 235px;
  }

  .u-section-1 .u-group-1 {
    width: 125px;
    min-height: 50px;
    margin-top: 14px;
    margin-bottom: 58px;
    margin-left: 235px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    width: 67px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 132px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 92px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 51px;
    margin-left: 51px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 218px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 156px;
    height: 165px;
    margin-top: -252px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 92px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 137px;
    min-height: 49px;
    margin: 10px 92px 20px auto;
  }

  .u-section-1 .u-text-3 {
    width: 76px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 579px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 17px 96px 0 83px;
}

.u-section-2 .u-group-1 {
  width: 202px;
  height: auto;
  background-image: none;
  min-height: 150px;
  margin: 57px 276px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 13px 19px 0 12px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 44px auto -83px 12px;
}

.u-section-2 .u-group-2 {
  width: 170px;
  height: auto;
  background-image: none;
  min-height: 126px;
  margin: -150px 96px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -126px 961px 0 83px;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -48px 613px 0 313px;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 10px auto 0 83px;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  margin: -86px auto 0 313px;
}

.u-section-2 .u-group-3 {
  width: 170px;
  height: auto;
  background-image: none;
  min-height: 126px;
  margin: -8px 96px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 17px 24px 0 25px;
}

.u-section-2 .u-group-4 {
  width: 202px;
  height: auto;
  background-image: none;
  min-height: 102px;
  margin: -102px 276px 35px auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 87px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 18px;
    margin-left: 59px;
    margin-right: 59px;
  }

  .u-section-2 .u-group-1 {
    width: 181px;
    min-height: 132px;
    margin-top: 53px;
    margin-right: 213px;
    height: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 32px;
    margin-bottom: -53px;
    margin-left: 72px;
  }

  .u-section-2 .u-group-2 {
    width: 156px;
    min-height: 99px;
    margin-top: -132px;
    margin-right: 48px;
    height: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -94px;
    margin-right: 781px;
    margin-left: 63px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -39px;
    margin-right: 480px;
    margin-left: 246px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    font-size: 1rem;
    margin-top: 16px;
    margin-left: 61px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
    width: auto;
    margin-top: -77px;
    margin-left: 246px;
  }

  .u-section-2 .u-group-3 {
    width: 156px;
    min-height: 128px;
    margin-top: -29px;
    margin-right: 48px;
    height: auto;
  }

  .u-section-2 .u-text-10 {
    width: 64px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-4 {
    width: 182px;
    min-height: 92px;
    margin-top: -94px;
    margin-right: 213px;
    margin-bottom: 31px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 42px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 128px;
    min-height: 107px;
    margin-top: 42px;
    margin-right: 186px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-group-2 {
    min-height: 107px;
    margin-top: -107px;
    margin-right: 23px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -107px;
    margin-right: 604px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 319px;
    margin-left: 187px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 0;
    margin-left: 20px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 330px;
    margin-left: 187px;
  }

  .u-section-2 .u-group-3 {
    min-height: 102px;
    margin-top: -79px;
    margin-right: 23px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 30px;
  }

  .u-section-2 .u-group-4 {
    width: 128px;
    min-height: 119px;
    margin-top: -119px;
    margin-right: 187px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1rem;
    width: auto;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-group-1 {
    min-height: 132px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-group-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-right: 150px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 444px;
    font-size: 1rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 97px;
    margin-right: 229px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 240px;
    margin-left: 170px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 180px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-group-1 {
    width: 136px;
    min-height: 109px;
    margin-top: 33px;
    margin-right: auto;
    margin-left: 32px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 0;
    margin-left: 82px;
  }

  .u-section-2 .u-group-2 {
    width: 136px;
    margin-top: 6px;
    margin-right: auto;
    margin-left: 32px;
  }

  .u-section-2 .u-text-5 {
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 59px;
    margin-right: 233px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 97px;
    margin-right: 223px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: -202px;
    margin-right: 106px;
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    width: 133px;
    min-height: 118px;
    margin-top: -393px;
    margin-right: 31px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-group-4 {
    width: 131px;
    min-height: 96px;
    margin-top: 8px;
    margin-right: 33px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 611px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-3 .u-form-1 {
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  height: 325px;
  margin: 46px 96px 0 474px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
}

.u-section-3 .u-group-1 {
  width: 378px;
  height: auto;
  background-image: none;
  min-height: 295px;
  margin: -316px auto 60px 63px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-form-1 {
    margin-top: 44px;
    margin-right: 0;
    margin-left: 397px;
  }

  .u-section-3 .u-group-1 {
    width: 377px;
    min-height: 300px;
    margin-top: -325px;
    margin-bottom: 43px;
    margin-left: 0;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 43px;
    margin-left: 300px;
  }

  .u-section-3 .u-group-1 {
    width: 284px;
    min-height: 293px;
    margin-top: -315px;
    margin-bottom: 22px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: 43px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 88px;
  }

  .u-section-3 .u-form-1 {
    width: 304px;
    margin-top: 286px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 247px;
    width: 304px;
    margin-top: -576px;
    margin-left: auto;
    margin-bottom: 22px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
  }
}